@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

/* DEGRADADO DEL FONDO */
body{
    min-height: 100vh;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #f1efeb, hwb(38 87% 6%));  
    font-family: 'Monserrat', sans-serif;
    color: #242424;
}

/** TABLAS */
table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  th, td {
    padding: 1em;
  }

  tr:nth-child(odd){
    background-color: #8b5353f5;
  }

  tr:nth-child(even){
    background-color: #884343af;
  }
  
  body {
    margin: 1.5em;
  }

  h2,h3,h4{
    margin-left: 15%;
  }

/** HEADER */
header{
    color: #ffc8c8;
    background-color: rgba(121, 42, 42, 0.822);
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    background-image: url('img/header.svg');
    background-size: contain;
}

.textoH{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloT{
    background-color: #581a1aa2;
    border-radius:0.4em;
    min-width: 33%;
}

header h2{
    background-color: none;
    margin-left: 0%;
}

/** NAV */

nav {
  max-height: 50px;
  grid-area: nav;
  position: sticky;
  top: 0px;
  z-index: 100;
  display:flex;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  
}
 
 nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;

  display:flex;
  justify-content: space-around;
}
 
 
 nav a{
  padding: 15px 20px 0px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
 
nav a:hover{
  background-color: rgb(230, 229, 229);
  height: 100%;
  display:block;
}

nav li{
  height: 50px;
  width: 200px;
}

 
 #nav ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
 }

#nav ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eeeeeecc;
 padding:0;
}

#nav ul ul li {
 float:none;
 width:150px;
}

#nav ul ul a {
 width: 200px;
 padding:10px 15px;
}

#nav ul li:hover > ul {
 display:block;
}


/** resto */
  .conclusion{
    margin-left: 15%;
  }

  .negrita{
    font-weight: bold;
  }